#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

#root {
    max-width: 1920px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.middle-button {
  padding: 2em;
}

.read-the-docs {
    color: #888;
}

.water-text {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #25b0ee;
    text-shadow: 2px 2px 3px #000000;
    text-align: center;
}

.fish {
    position: center;
    max-height: 720px;
    max-width: 1280px;
    margin-bottom: 150px;
    margin-top: 150px;
}

.water-button {
    background-image: url(waves.png);
    background-size: cover;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(135, 206, 235, 0.5);
}

.water-button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(144, 238, 144, 0.7);
    filter: brightness(120%);
}

.water-button2 {
    background-image: url(upgrade.png);
    background-size: cover;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 10px #9732b9;
}

.water-button2:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px #ae4dcf;
    filter: brightness(120%);
}

.water-button3 {
    background-image: url(flora.png);
    background-size: cover;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(51, 204, 51, 0.5);
}

.water-button3:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(102, 204, 0, 0.7);
    filter: brightness(120%);
}

@keyframes buttonJump {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

.water-button-animation {
    background-image: url(waves.png);
    background-size: cover;
    box-shadow: 0 0 20px rgba(144, 238, 144, 0.7);
    filter: brightness(80%);
    pointer-events: none;
    animation: buttonJump 0.5s ease;
}

.water-button2-animation {
    background-image: url(upgrade.png);
    background-size: cover;
    box-shadow: 0 0 20px rgba(144, 238, 144, 0.7);
    filter: brightness(80%);
    pointer-events: none;
    animation: buttonJump 0.5s ease;
}

.water-button3-animation {
    background-image: url(flora.png);
    background-size: cover;
    box-shadow: 0 0 20px rgba(144, 238, 144, 0.7);
    filter: brightness(80%);
    pointer-events: none;
    animation: buttonJump 0.5s ease;
}

.left-button {
    padding: 2em;
    margin-left: -400px;
    margin-top: -104px;
}

.right-button {
    padding: 2em;
    margin-left: 400px;
    margin-top: -104px;
}

.button-text {
    display: block;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #25b0ee;
    text-shadow: 2px 2px 3px #000000;
}

.button-text-upgrade {
    display: block;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #ae4dcf;
    text-shadow: 2px 2px 3px #000000;
}

.button-text-flora {
    display: block;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: rgba(102, 204, 0, 0.7);
    text-shadow: 2px 2px 3px #000000;
}

.water-text-animation {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #25b0ee;
    text-shadow: 2px 2px 3px #000000;
    text-align: center;
    filter: brightness(150%);
    pointer-events: none;
    animation: buttonJump 0.25s ease;
}